@{
    ViewBag.Title = "New Pre-requisite";
}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Admin?id=1">Admin</a></li>
    <li><a href="/Admin/CourseList">Browse Courses</a></li>
    <li><a href="/Admin/CourseDetails?id=25">Course Pre-requisites</a></li>
    <li class="active">New Pre-requisite</li>
</ol>

<h3>CSE 110 New Pre-requisite</h3>
<br />
<form class="form-horizontal">
    <p>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="level">Course Level</label>
            <div class="col-sm-10">
                <select class="form-control" id="level">
                    <option value="all" selected="selected">All</option>
                    <option value="lower">Lower</option>
                    <option value="upper">Upper</option>
                    <option value="grad">Graduate</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="course">Course</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="course" placeholder="Please type a course">
            </div>
        </div>
        <button type="submit" class="btn btn-default">Filter courses</button>
    </p>
</form>


<p>
    <table class="table" id="scheduled_courses">
        <tr>
            <th>
                Course
            </th>
            <th>
                Title
            </th>
        </tr>
        <tr>
            <td>
                CSE 110
            </td>
            <td>
                Software Engineering
            </td>
            <td>
                <a href="/Admin/CourseDetails?id=20">Add as pre-requisite</a>
            </td>
        </tr>
        <tr>
            <td>
                CSE 100
            </td>
            <td>
                Advanced Data Structures
            </td>
            <td>
                <a href="/Admin/CourseDetails?id=20">Add as pre-requisite</a>
            </td>
        </tr>
    </table>
</p>