@{

    string userType = null;

    switch (Session["role"].ToString())
    {
        case "staff":
            userType = "Staff";
            break;
        case "admin":
            userType = "Admin";
            break;
        default:
            userType = "Student";
            break;
    }

    ViewBag.UserType = userType;


    ViewBag.Title = "Course Pre-requisites";
}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Schedule/CourseList">Browse Courses</a></li>
    <li><a href="/Schedule/CourseDetails?id=@ViewBag.id">Course Pre-requisites</a></li>
    <li class="active">New Pre-requisite</li>
</ol>

<h3 data-bind="text: viewModel.course() + ' New pre-requisiste'"></h3>
<br />
<form class="form-horizontal">
    <p>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="level">Course Level</label>
            <div class="col-sm-10">
                <select data-bind="options: viewModel.availableLevels,
                                       optionsText: 'displayName',
                                       value: viewModel.selectedLevel" class="form-control" id="level"></select>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="course">Course</label>
            <div class="col-sm-10">
                <input data-bind="value: viewModel.course_filter" type="text" class="form-control" id="course" placeholder="Please type a course">
            </div>
        </div>
        <button type="submit" data-bind="click: viewModel.filter" class=" btn btn-default">Filter courses</button>
    </p>
</form>


<p>
    <table class="table" id="scheduled_courses">
        <tr>
            <th>
                Course
            </th>
            <th>
                Title
            </th>
            <th>
                Level
            </th>
            <th>
            </th>
        </tr>
        <tbody data-bind="foreach: viewModel.courseList">
            <tr>
                <td data-bind="text: title" />
                <td data-bind="text: description" />
                <td data-bind="text: level" />

                <td>
                    <a data-bind="click: $parent.viewModel.addPrereq.bind($data, @ViewBag.id)">Add</a>
                </td>
            </tr>
        </tbody>

    </table>
</p>

<script type="text/javascript">

    $(document).ready(function () {

        var courseViewModelObj =
            new CourseViewModel();
        courseViewModelObj.Initialize();
        courseViewModelObj.courseViewModel.filter();
        debugger;
        courseViewModelObj.courseViewModel.getDetail(@ViewBag.id);

    });
</script>