@{

    string userType = null;

    switch (Session["role"].ToString())
    {
        case "staff":
            userType = "Staff";
            break;
        case "admin":
            userType = "Admin";
            break;
        default:
            userType = "Student";
            break;
    }

    ViewBag.UserType = userType;

    ViewBag.Title = "Edit Instructor";
}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Staff/InstructorList">Browse Instructors</a></li>
    <li class="active">Edit Instructor</li>
</ol>

<h3 data-bind="text: 'Editing ' + viewModel.display_name()"></h3>
<br />
<form class="form-horizontal">
    <p>
        
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">Title</label>
            <div class="col-sm-10">
                <select data-bind="options: viewModel.availableTitlesWithoutAll,
                                       optionsText: 'displayName',
                                       value: viewModel.selectedTitle,
                                       optionsCaption: 'Select a title'" class="form-control" id="title"></select>
            </div>
        </div>
        <button type="submit" data-bind="click: viewModel.edit.bind($data, @ViewBag.id)" class=" btn btn-default">Edit instructor</button>
    </p>
</form>


<script type="text/javascript">

    $(document).ready(function () {

        var viewModelObj =
            new InstructorViewModel();
        viewModelObj.Initialize();
        viewModelObj.instructorViewModel.getDetail(@ViewBag.id);


    });
</script>