@{

    string userType = null;

    switch (Session["role"].ToString())
    {
        case "staff":
            userType = "Staff";
            break;
        case "admin":
            userType = "Admin";
            break;
        default:
            userType = "Student";
            break;
    }

    ViewBag.UserType = userType;


    ViewBag.Title = "Edit Course";
}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Schedule/CourseList">Browse Courses</a></li>
    <li class="active">Edit Course</li>
</ol>

<h3 data-bind="text: 'Editing ' + viewModel.course_title()"></h3>

<br />
<form class="form-horizontal">
    <p>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="level">Course Level</label>
            <div class="col-sm-10">
                <select data-bind="options: viewModel.availableLevelsWithoutAll,
                                       optionsText: 'displayName',
                                       value: viewModel.selectedLevel,
                                       optionsCaption: 'Select a level'" class="form-control" id="level"></select>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="course">Course</label>
            <div class="col-sm-10">
                <input data-bind="value: viewModel.course" type="text" class="form-control" id="course" placeholder="Please type a course">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="course_title">Title</label>
            <div class="col-sm-10">
                <input data-bind="value: viewModel.course_description" type="text" class="form-control" id="course" placeholder="Please type a course">
            </div>
        </div>
        <button type="submit" data-bind="click: viewModel.edit.bind($data, @ViewBag.id)" class=" btn btn-default">Edit course</button>
    </p>
</form>


<script type="text/javascript">

    $(document).ready(function () {

        var courseViewModelObj =
            new CourseViewModel();
        courseViewModelObj.Initialize();
        courseViewModelObj.courseViewModel.getDetail(@ViewBag.id);

    });
</script>