@{
    ViewBag.Title = "Admin";
}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Admin</li>
</ol>


<h3>Welcome Admin</h3>
<br />
<p>What would you like to do?</p>

<div class="row">
    <div class="col-md-4">
        <h4>
            Courses
        </h4>
        <ul>
            <li><a href="/Admin/CourseList">Browse courses</a></li>
            <li><a href="/Admin/CreateCourse">Add new course</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>
            Instructors
        </h4>
        <ul>
            <li><a href="/Admin/InstructorList">Browse instructors</a></li>
            <li><a href="/Admin/CreateInstructor">Add new instructor</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>
            Course Schedule
        </h4>
        <ul>
            <li><a href="/Admin/ScheduledCourseList">Browse course schedule</a></li>
            <li><a href="/Admin/CreateScheduledCourse">Schedule a course</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>
            Students
        </h4>
        <ul>
            <li><a href="/Admin/StudentList">Browse students</a></li>
            <li><a href="/Admin/CreateStudent">Add new student</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>
            TAs
        </h4>
        <ul>
            <li><a href="/Admin/TAList">Browse TAs</a></li>
            <li><a href="/Admin/CreateTA">Add new TA</a></li>
        </ul>
    </div>
</div>


