<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dsn" value="Data Source=ec2-54-67-85-186.us-west-1.compute.amazonaws.com;Initial Catalog=cse136;User Id=ucsd1;Password=password;"/>
    <add key="logDestination" value="file"/>
    <!--<add key="logDestination" value="db"/>-->
  </appSettings>
</configuration>