
@{
    ViewBag.Title = "Ratings";
}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Admin?id=1">Admin</a></li>
    <li><a href="/Admin/ScheduledCourseList">Browse Course Schedule</a></li>
    <li><a href="/Admin/ScheduledCourseStudentList?id=20">Scheduled Course Details</a></li>
    <li class="active">Ratings</li>
</ol>

<h3>Summer 1, 2016</h3>
<h3>CSE 110, Section A00</h3>
<p>
    <table class="table">
        <caption>Details</caption>
        <tr>
            <th class="col-sm-2">Title</th>
            <td class="col-sm-3">Software Engineering</td>
            <td />
        </tr>
        <tr>
            <th class="col-sm-2">Days</th>
            <td class="col-sm-3">Mon-Thu</td>
            <td />
        </tr>
        <tr>
            <th class="col-sm-2">Times</th>
            <td class="col-sm-3">4:00pm-5:30pm</td>
            <td />
        </tr>
        <tr>
            <th class="col-sm-2">Classroom</th>
            <td class="col-sm-3">WLH 2001</td>
            <td />
        </tr>
        <tr>
            <th class="col-sm-2">Instructor</th>
            <td class="col-sm-3">Gary Gillespie</td>
            <td />
        </tr>
        <tr>
            <th class="col-sm-2">Rating</th>
            <td class="col-sm-3">9.5</td>
        </tr>
    </table>
</p>


<p>

    <table class="table" id="ratings">


        <caption>Ratings</caption>
        <tr>
            <th class="col-sm-2">
                Rating
            </th>
            <th class="col-sm-10">
                Comments
            </th>
        </tr>
        <tr>
            <td class="col-sm-2">
                10
            </td>
            <td class="col-sm-10">
                Best class ever!
            </td>
        </tr>
        <tr>
            <td class="col-sm-2">
                8
            </td>
            <td class="col-sm-10">
                Fair class, the material was hard, but the professor was nice.
            </td>
           
        </tr>
       

    </table>

</p>