@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Course List</h3>

<ul id="courses">
    <li>
        <a href="~/Views/TA/ViewStudentsInEnrollment.cshtml">CSE 100</a>
    </li>
</ul>