
@{
    ViewBag.Title = "Index";
}

<h2>Financial aid</h2>

<table>
    <tr>
        <td>1</td>
        <td><a href="/FinancialAid/Grants?type=pell">Pell Grant</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="/FinancialAid/Grants?type=cal">Cal Grant</a></td>
    </tr>
</table>
<br/><br/>

Loans:
<table>
    <tr>
        <td>1</td>
        <td><a href="/FinancialAid/Loans/government">Government</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="/FinancialAid/Loans/private">Private</a></td>
    </tr>
</table>
