@{
    ViewBag.Title = "Add New Student";
}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Admin?id=1">Admin</a></li>
    <li class="active">Add New Student</li>
</ol>

<div class="col-lg-offset-1"><h3>Add New Student</h3></div>
<br />

<div id="divStudent">
    <form class="form-horizontal">
        <p>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id">ID</label>
                <div class="col-sm-10">
                    <input data-bind="value: student_id" type="text" class="form-control" id="id" placeholder="Please enter student's ID">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="first_name">First Name</label>
                <div class="col-sm-10">
                    <input data-bind="value: first" type="text" class="form-control" id="first_name" placeholder="Please enter student's first name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="last_name">Last Name</label>
                <div class="col-sm-10">
                    <input data-bind="value: last" type="text" class="form-control" id="last_name" placeholder="Please enter student's last name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Email</label>
                <div class="col-sm-10">
                    <input data-bind="value: email" type="text" class="form-control" id="email" placeholder="Please enter student's email">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="pass">Password</label>
                <div class="col-sm-10">
                    <input data-bind="value: password" type="password" class="form-control" id="pass" placeholder="Please enter student's password">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="confirm_pass">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="confirm_pass" placeholder="Please confirm student's password">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="ssn">SSN</label>
                <div class="col-sm-10">
                    <input data-bind="value: ssn" type="password" class="form-control" id="ssn" placeholder="Please enter student's SSN">

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="confirm_ssn">Confirm SSN</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="confirm_ssn" placeholder="Please confirm student's SSN">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="weight">Weight</label>
                <div class="col-sm-10">
                    <input data-bind="value: weight" type="text" class="form-control" id="weight" placeholder="Please enter student's weight">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="shoe_size">Shoe Size</label>
                <div class="col-sm-10">
                    <input data-bind="value: shoesize" type="text" class="form-control" id="shoe_size" placeholder="Please enter student's shoe size">
                </div>
            </div>

            <br />
            <div class="col-lg-offset-2">
                <button data-bind="click: add" type="submit" class="btn btn-default">Add Student</button>
            </div>
        </p>
    </form>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var studentViewModelObj = new StudentViewModel();
        studentViewModelObj.Initialize();
    })
</script>