@{
    ViewBag.Title = "Staff";
}

<h2>Staff</h2>

<p>What is staff able to do?</p>

<!-- Link for student list, create student, create TA, view schedule -->

<ul>
    <li><a href="~/Staff/StudentList">Manage student account</a></li>
    <li><a href="~/Staff/TAList">Manage TAs</a></li>
    <li>What else?</li>
</ul>