@{
    string userType = null;

    switch (Session["role"].ToString())
    {
        case "staff":
            userType = "Staff";
            break;
        case "admin":
            userType = "Admin";
            break;
        default:
            userType = "Student";
            break;
    }

    ViewBag.UserType = userType;

    ViewBag.Title = "Browse Instructors";
}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Browse Instructors</li>
</ol>

<h3>Browse Instructors</h3>
<br />
<form class="form-horizontal">
    <p>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">Title</label>
            <div class="col-sm-10">
                <select data-bind="options: viewModel.availableTitles,
                                       optionsText: 'displayName',
                                       value: viewModel.selectedTitle" class="form-control" id="title"></select>

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Name</label>
            <div class="col-sm-10">
                <input data-bind="value: viewModel.name_filter" type="text" class="form-control" id="name" placeholder="Please type an instructor name">
            </div>
        </div>

        <button type="submit" data-bind="click: viewModel.filter" class=" btn btn-default">Filter instructors</button>
    </p>
</form>

<p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Title
            </th>
            <th />
            @if (ViewBag.UserType == "Admin")
            {
                <th />
            }
        </tr>
        <tbody data-bind="foreach: viewModel.instructorList">
            <tr>
                <td data-bind="text: name" />
                <td data-bind="text: title" />

                <td>
                    <a data-bind="attr: {'href': '/Schedule/Index?instructor='+ id}">View scheduled courses</a>
                </td>
                <td>
                    @if (ViewBag.UserType == "Admin")
                    {
                        <a data-bind="attr: {'href': '/Admin/EditInstructor?id='+ id}">Edit</a>
                    }
            </td>
        </tr>
</table>
</p>

<script type="text/javascript">

    $(document).ready(function () {

        var viewModelObj =
            new InstructorViewModel();
        viewModelObj.Initialize();
        viewModelObj.instructorViewModel.filter();
    });
</script>