@{
    string userType = null;

    switch (Session["role"].ToString())
    {
        case "staff":
            userType = "Staff";
            break;
        case "admin":
            userType = "Admin";
            break;
        default:
            userType = "Student";
            break;
    }

    ViewBag.UserType = userType;

    ViewBag.Title = "Browse Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Browse Students<li>
</ol>

<div class="col-lg-offset-1">
    <h3>Browse Students</h3>
</div>
<br />

<form id="student_form" class="form-horizontal">
    <p>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="student_id">Student ID</label>
            <div class="col-sm-10">
                <input data-bind="value: viewModel.id" type="text" class="form-control" id="student_id" placeholder="Filter by student ID">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="first">First Name</label>
            <div class="col-sm-10">
                <input data-bind="value: viewModel.first" type="text" class="form-control" id="first" placeholder="Filter by first name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Last Name</label>
            <div class="col-sm-10">
                <input data-bind="value: viewModel.last" type="text" class="form-control" id="last" placeholder="Filter by name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">Email</label>
            <div class="col-sm-10">
                <input data-bind="value: viewModel.email" type="text" class="form-control" id="email" placeholder="Filter by email">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="gpa">Minimum GPA</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="gpa" placeholder="Filter by minimum GPA">
            </div>
        </div>

        <div class="col-lg-offset-2">
            <button data-bind="click: viewModel.filter" type="submit" class="btn btn-default">Filter Students</button>
        </div>

    </p>
</form>
<br />

<p>
    <table class="table" id="students">
        <tr>
            <th>
                Student ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Shoe Size
            </th>
            <th>
                Weight
            </th>
            <th>
                GPA
            </th>
            <th>
                Details
            </th>
            <th></th>
        </tr>

        <tbody data-bind="foreach: viewModel.studentList">
            <tr>
                <td data-bind="text: id"></td>
                <td data-bind="text: first"></td>
                <td data-bind="text: last"></td>
                <td data-bind="text: email"></td>
                <td data-bind="text: shoesize"></td>
                <td data-bind="text: weight"></td>
                <td>
                    4.0
                </td>
                <td>
                    <a href="/Admin/StudentDetails?id=1">View</a>
                </td>
                <td>
                    <a href="/Admin/EditStudent?id=10">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</p>

<script type="text/javascript">
    $(document).ready(function () {
        var studentViewModelObj = new StudentViewModel();
        studentViewModelObj.Initialize();
        studentViewModelObj.studentListViewModel.filter();

    })
</script>