@{
    ViewBag.Title = "TAList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>TA List Page</h3>

<div id="TAListContent">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First</th>
                <th>Last</th>
                <th>Tutor Type</th>
            </tr>
            <!--Need to add 'Add'/'Remove' for TAs.-->
            <tr>
                <th>10001</th>
                <th>Steven</th>
                <th>Okai</th>
                <th>Tutor</th>
            </tr>
        </thead>
    </table>
</div>