@{
    var id = ViewBag.Id;
}
<h3>Current Enrollment</h3>

<!-- Show links to drop course -->

@id
136 TODO: for a given student, show all his course schedule enrollment. Allow add & delete of enrollments
(The reason this is under the /Shared folder is that both staff and student should be able to update enrollments)


<!-- Show list of current tutored courses -->
<!-- Show link to drop tutored course -->
<!-- Show link to add review -->