@{
    Layout = "~/Views/Shared/Errors/Error.cshtml";
}

@section CustomError {
    <hgroup>
        <h1>Error 403</h1>
        <h3>Oops, you're not authorized to see this page; don't worry, all is good as long as you don't try to go to the third-floor corridor.</h3>
    </hgroup>
}