@{
    Layout = "~/Views/Shared/Errors/Error.cshtml";
}

@section CustomError {
    <hgroup>
        <h1>Error 404</h1>
        <h3>Oops, this page might not exist; it might be using the cloak of invisibility. Please try again later.</h3>
    </hgroup>
}